.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card{
    padding: 10px;
}
.detailBtn{
    width: 50%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    background-color: purple;    
}